doctype html
meta(charset='utf-8')
title= title
link(rel="stylesheet" href="style.css")

h1= message
div(style="background-color:red")
    input(placeholder="What's your username?" name="username")
    input(placeholder="What's your password?" name="password" type="password")
    input(value="Login" type="submit")
